.btn-primary {
  background-color: $primary-button;
  border-color: $primary-button;
  border-radius: 23px;
  color: $light-button-text
}

.btn-primary:hover {
  background-color: $primary-button-hover;
  border-color: $primary-button-hover
}

.btn-group-lg>.btn,.btn-lg {
  font-size: 1.25rem
}
