.btn-primary {
  background-color: #fdcc52;
  border-radius: 23px;
  border-color: #fdcc52;
  color: #242c47
}

.btn-primary:hover {
  background-color: #813a59;
  border-color: #813a59
}

.btn-group-lg>.btn,.btn-lg {
  font-size: 20px
}