.btn {
  font-weight: $font-weight-semi-bold;
}

.btn-primary {
  background-color: transparent;
  border-color: $primary-button;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: $dark-button-text;
  margin: 20px auto;
  padding: 0.5em 2em;
  text-align: center;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $primary-button-hover;
  border-color: $primary-button-hover
}

.btn-group-lg>.btn,.btn-lg {
  font-size: 1.25rem
}
