@use '../0-tools/vars' as *;

a {
  color: $link-color;
  font-weight: $font-weight-medium;
  outline: 0 !important;
  text-decoration: none;
  transition: color 0.15s;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}
