@use '../0-tools/vars' as *;

a {
  color: $link-color;
  font-weight: $font-weight-medium;
  text-decoration: none;
  transition: color 0.15s;
}

a:focus-visible {
  outline: 3px solid #a84d35;
  outline-offset: 4px;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}
