*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body__text--dark;
  display: grid;
  font-family: $font-family-paragraph;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  grid-template: repeat(8,auto)/1fr;
  line-height: 27.97px;
  width: 100%;
}

p {
  margin-bottom: 0.85em;
}

h1,h2,h3,h4 {
  font-family: $font-family-headings;
  font-weight: $font-weight-medium;
  letter-spacing: -2px;
  margin: 0;
}

h1 {
  color: $grey-body-text;
  font-family: $font-family-heading-roger;
  font-size: 1.5rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: -2px;
  line-height: normal
}

h2 {
  color: $heading__section--dark;
  font-size: 2.1rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: -1.9px;
  line-height: 1.0;
}

h3 {
  color: $heading__subhead--dark;
  font-size: 1.6rem;
  font-weight: $font-weight-regular;
  letter-spacing: -0.5px;
  line-height: 28.5px
}

h4 {
  font-size: 1.1875rem;
  line-height: 25.5px
}

@media screen and (min-width: 360px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 410px) {
  h1 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    margin-top: 0.4em
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.9rem;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 3.0375rem;
  }

  h3 {
    font-size: 2.2175rem;
    line-height: 31px
  }

  h4 {
      font-size: 1.1875rem;
      letter-spacing: -0.5px;
      line-height: 28.5px
  }
}

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 3.0375rem;
  }
}

strong {
  font-weight: $font-weight-bold
}

em {
  font-style: italic
}

.close-heading {
  margin-bottom: 3px !important
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid rgba(252, 252, 252, 0.1);
}
