//  VARIABLES
// =============================

// Font Families
$font-family-headings: 'Roboto Slab', serif;
$font-family-paragraph: 'Source Sans Pro', Verdana, sans-serif;

// Fonts
$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-boldish: 500;
$font-weight-bolder: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

//Image path for most of global style sheet
$imagedir:'/assets/img/';

// Colors

// Site primary colors

// black and white
$black: #000;
$white: #fff;

// greys
$grey-1: #eee;
$grey-2: #d5d5d5;
$grey-3: #bbb;
$grey-4: #999;
$grey-5: #555;
$grey-6: #3c3c3c;
$grey-7: #222;

// layout

// buttons

// links

html,body {
  overflow-x: hidden
}