//  VARIABLES
// =============================

// Font Families
$font-family-headings: 'IBM Plex Sans', Verdana, sans-serif;
$font-family-heading-roger: 'Roboto slab', Verdana, sans-serif;
$font-family-paragraph: 'IBM Plex Sans', Verdana, sans-serif;

// Fonts
$font-size-base: 1.125rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 700;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//Image path for most of global style sheet
$imagedir:'/assets/img/';

// Colors

// black and white
$black: #000;
$white: #fff;

// greys
$grey-1: #eee;
$grey-2: #d5d5d5;
$grey-3: #bbb;
$grey-4: #999;
$grey-5: #555;
$grey-6: #3c3c3c;
$grey-7: #222;

// muted text (maps to your grey scale)
$text-muted: $grey-4;

// Site primary colors
$primary-blue: #004763;
$primary-blue-darker: #071f35;
$secondary-sand: #C7B08B;
$secondary-midnight-blue: #2a2a35;

// gradients
$primary-gradient: rgba(10, 60, 80, 1.0),rgba(10, 60, 80, 0.8); //r#082742, rgba(15, 76, 129, 0.8)

// layout
$grey-body-text: $white;
$body__text--dark: $white;
$body__text--darker: $white;
$hero-shot-text: $white;
$heading__section--dark: $secondary-midnight-blue;
$heading__subhead--dark: $secondary-midnight-blue;
$heading--hero-shot: $white;
$circle__border--hero-shot: $secondary-sand;
$label-language-background: $primary-blue;
$label-language__text: $white;

// buttons
$primary-button: $white; //used for background and border
$primary-button-hover: $white; //used for background and border
$dark-button-text: $white;
$light-button-text: $secondary-midnight-blue;

// links
$link-color: $secondary-sand;
$link-hover-color: $white;
$secondary-link-color: $primary-blue;
$secondary-link-hover-color: $white;

html,body {
  overflow-x: hidden
}

.text-center {
  text-align: center;
}
