//  VARIABLES
// =============================

// Font Families
$font-family-headings: 'Poppins', Verdana, sans-serif;
$font-family-heading-roger: 'Roboto slab', Verdana, sans-serif;
$font-family-paragraph: 'Poppins', Verdana, sans-serif;

// Fonts
$font-size-base: 1.125rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//Image path for most of global style sheet
$imagedir:'/assets/img/';

// Colors

// Site primary colors
$primary-red-violet: #9D394B;
$primary-blue: #3b4874;
$primary-blue-darker: #242c47;
$primary-gold: #fdcc52;
$secondary-saturated-gold: #fcbd20;
$primary-gradient: $primary-blue, rgba(215, 27, 39, 0.8);
$contactme-gradient: $primary-gold, #fdc539;

// black and white
$black: #000;
$white: #fff;

// greys
$grey-1: #eee;
$grey-2: #d5d5d5;
$grey-3: #bbb;
$grey-4: #999;
$grey-5: #555;
$grey-6: #3c3c3c;
$grey-7: #222;

// layout
$grey-body-text: $white;
$body__text--dark: $white;
$body__text--darker: $white;
$hero-shot-text: $white;
$heading__section--dark: $white;
$heading__subhead--dark: $white;
$heading--hero-shot: $white;
$grey-contactme-light-text: $primary-blue-darker;
$circle__border--hero-shot: $primary-blue-darker;
$label-language-background: $primary-red-violet;
$label-language__text: $white;
$contactme-background-yellow: $primary-gold;

// buttons
$primary-button: $primary-gold; //used for background and border
$primary-button-hover: $primary-red-violet; //used for background and border
$contactme-button-background-blue: $primary-blue; //used for background and border
$dark-button-text: $white;
$light-button-text: $grey-7;

// links
$link-color: $white;
$link-hover-color: $grey-4;
$hero-shot-link-gold: $primary-gold;
$hero-shot-link-hover-gold: $secondary-saturated-gold;
$social-sharing-icon: $white;
$social-sharing-icon-hover: $primary-blue;

html,body {
  overflow-x: hidden
}

.text-center {
  text-align: center;
}
