<aside class="mailing-list container-fluid" id="ContactMe">
  <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-4">
          <form action="https://formspree.io/roger@rogerehmpke.com" method="POST" style="margin:0 auto;">
              <div class="text-center mb-4">
                  <h2 style="color:#333333;">Contact</h2>
                  <p style="color:#333333;">Contact me to discuss web development opportunities. I look forward to hearing from you!</p>
              </div>
              <div class="form-group"><input class="form-control" id="name" type="text" name="name" placeholder="Name" required="" /><label for="name">Name</label></div>
              <div class="form-group"><input class="form-control" id="email" type="email" name="_replyto" placeholder="Email" required="" /><label for="email">Email Address</label></div>
              <div class="form-group"><textarea class="form-control" id="message" name="message" placeholder="Write a message"></textarea><label for="message">Message</label></div><button class="btn btn-lg btn-primary btn-block" type="submit">Send</button></form>
      </div>
  </div>
</aside>