<section class="hero-shot space-top double space-bottom">
    <div class="hero-shot__container">
    <div class="hero-shot__content">
        <h1><a class="logo--header" href="/">Roger Ehmpke</a></h1>
        <h2 class="heading--hero-shot">Get Clarity on Your Website Infrastructure.</h2>
        <p>1:1 strategy sessions for creators, small teams, and nonprofits navigating complex web systems. Clear direction, not
        more tech.</p>
        <a class="btn-primary" href="https://calendly.com/rehmpke/30min" target="_blank" rel="noopener noreferrer">Book a Session</a>
    </div>
    <img class="img-fluid hero-shot__img--circle" src="./assets/img/roger.webp" width="300" height="300" alt="Roger Ehmpke's photo" />
</div>
</section>
