<section class="hero-shot space-top double space-bottom">
    <div class="hero-shot__container">
    <div class="hero-shot__content">
        <h1><a class="logo--header" href="/">Roger Ehmpke</a></h1>
        <h2 class="heading--hero-shot">Clarity-led web strategy for complex systems.</h2>
        <p>Helping higher ed and mission-driven teams simplify the web—through UX&nbsp;leadership, accessible design, and operational clarity.<br><a href="https://www.linkedin.com/in/rogerehmpke" target="_blank" rel="noopener">Let’s&nbsp;connect</a> or <a href="#ContactMe">send a quick note</a>.</p>
    </div>
    <img class="img-fluid hero-shot__img--circle" src="./assets/img/roger.webp" width="300" height="300" alt="Roger Ehmpke's photo" />
</div>
</section>
