<section class="hero-shot space-top double space-bottom">
    <div class="hero-shot__container">
    <div class="hero-shot__content">
        <h1><a class="logo--header" href="/">Roger Ehmpke</a></h1>
        <h2 class="heading--hero-shot">Web Designer and Developer</h2>
        <p>I create usable, polished, and performant products through agile workflow, passionate, and deliberate design.</p>
        <p>Contact me or reach out via <a href="https://www.linkedin.com/in/rogerehmpke" target="_blank" rel="noopener">LinkedIn</a> or <a href="#ContactMe">send an email</a>.</p>
    </div>
    <img class="img-fluid hero-shot__img--circle" src="./assets/img/roger.webp" width="300" height="300" alt="Roger Ehmpke's photo" />
</div>
</section>
