<section class="recomendations space-top--testimonial" id="recomendations">
  <div class="recomendations__container">
    <div class="recomendations__content">
  <div>
      <h2>Recomendations</h2>
      <p class="intro">A few words from collaborators on past strategy and development work.</p>
  </div>
</div>
  <div class="testimonial__projectdiv testimonial__kcc container">
        {% assign sorted_recomendation = site.recomendations | sort: "order" %}
        {% for recomendation in sorted_recomendation %}
          <div>
              <div class="testimonial__box space-bottom">
                  <h3 style="text-align: left;">{{ recomendation.recomended_person }}<br/>
                    <span class="testimonial__title" style="text-align: left;">{{ recomendation.recomended_title }}</span></h3>
                  <p class="testimonial__paragraph" style="text-align: left;">{{ recomendation.recomended_quote }}</p>
              </div>
          </div>
        {% endfor %}
  </div>
</div>
</section>