<section class="recomendations space-top space-bottom" id="recomendations">
  <div class="recomendations__container">
  <div>
      <h2>Recomendations</h2>
      <hr class="primary" /><br/>
  </div>
  <div>
        {% assign sorted_recomendation = site.recomendations | sort: "order" %}
        {% for recomendation in sorted_recomendation %}
          <div>
              <div class="testimonial-box space-bottom">
                  <h3>{{ recomendation.recomended_person }}<br/><span style="font-weight: normal;font-size: 1.3rem;">{{ recomendation.recomended_title }}</span></h3>
                  <p>{{ recomendation.recomended_quote }}</p>
              </div>
          </div>
        {% endfor %}
  </div>
</div>
</section>