<section class="skills" id="Skills">
  <div class="container">
      <div class="row space-top">
          <div class="col text-center">
              <h2 class="section-heading" style="color:#333333;">Skills</h2>
              <hr class="primary" />
              <h3 class="skills-known">I know...</h3>
              <ul class="skills-list">
                  <li><span class="skill-label">LANGUAGES:</span> JAVASCRIPT, CSS, SASS, HTML, BASH</li>
                  <li><span class="skill-label">LIBRARIES:</span> JQUERY, LODASH</li>
                  <li><span class="skill-label">SERVERS:</span> NODEJS, NGINX</li>
              </ul>
          </div>
      </div>
  </div>
</section>