<section class="skills space-top space-bottom" id="Skills">
    <div class="skills__container">
        <h2>Skills</h2>
        <hr class="primary" />
        <ul class="skills-list">
            <li><span class="skill-label">Web Development:</span> HTML, CSS, JavaScript, EXPRESS, REACT</li>
            <li><span class="skill-label">Content Management:</span> WordPress, SharePoint, CloudCannon</li>
            <li><span class="skill-label">Servers:</span> IIS, NODEJS, NGINX</li>
            <li><span class="skill-label">Tools:</span> Git, WebPack, NPM, Adobe Photoshop, Illustrator, FIGMA</li>
            <li><span class="skill-label">Project Management:</span> AGILE, SCRUM</li>
            <li><span class="skill-label">Web Accessibility:</span> WCAG, ARIA, 508</li>
            <li><span class="skill-label">Web Analytics:</span> Google Analytics</li>
        </ul>
    </div>
</section>
