<section class="work space-top space-bottom" id="work" aria-labelledby="work-h2">
    <div class="work__container">
        <div class="work__content">
            <div class="work__description">
                <h2 id="work-h2">Selected Projects</h2>
                <p class="intro">A few examples where I've led digital strategy, accessibility improvements, and CMS architecture — delivering scalable,
                user-centered solutions in higher education and mission-driven contexts.</p>
                <hr class="primary" />
            </div>
        </div>
        {% assign sorted_work = site.work | sort: "order" %}
        {% for work in sorted_work %}
        <div class="work__projectdiv work__kcc container">
            <div class="work__projectimgdiv__imgdiv"><img width="90%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+/bXcAAAAASUVORK5CYII=" data-src="{{ work.screen_image }}" alt="{{ work.screen_image_alt }}" /></div>
            <div class="work__projectdiv__description">
                <h3>{{ work.work_name }}</h3>
                <p>{{ work.case_description }}</p>
                <div class="work__projectdiv__languagebar">
                    {% for skill in work.skill_labels %}
                    <span class="label_language">{{ skill.label }}</span>
                    {% endfor %}
                </div>
                {% if work.current_site != "#" %}
                <div class="view_live_div"><a class="btn-primary" href="{{ work.current_site }}" target="_blank" rel="noopener noreferrer">VIEW LIVE</a></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
