@use '../0-tools/vars' as *;

.about-consulting {
  background-color: $white;
  grid-column: 1;
  grid-row: 3;
  padding-inline: 1em;

  &__container {
    max-width: 900px;
    margin-inline: auto; // center container
  }

  /* Title block */
  &__header {
    text-align: center;

    h2 {
      margin: 0 0 .25rem;
    }

    .primary {
      /* decorative rule: accessible + consistent */
      border: 0;
      height: 2px;
      width: 4rem;
      background: $secondary-link-color;
      margin: .5rem auto 1.25rem;
    }
  }

  /* Body copy */
  &__content {
    text-align: left;
  }

  /* Back-compat: support both old and new paragraph classes */
  .about__p,
  &__p {
    margin: 0 0 1rem;
    padding: 0 5%;
  }

  /* Links */
  a {
    color: $secondary-link-color;
    font-weight: $font-weight-semi-bold;

    &:hover,
    &:focus {
      color: $secondary-link-hover-color;
    }
  }
}

/* Responsive grid */
@media (min-width: 900px) {
  .about-consulting {
    &__container {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: auto;
    }

    &__header {
      grid-column: 1 / -1;
    }

    &__content {
      /* centered readable measure */
      grid-column: 2 / span 10;
      max-width: 65ch;
      margin-inline: auto;
    }
  }
}