@media only screen and (max-width: 919px) {
  .contactme .row {
    padding-top:10px
  }

  .contactme .row:before {
    left: 50%;
    margin-left: -30px;
    top: -55px

  }
}

.contactme {
  background: $contactme-background-yellow;
  background: linear-gradient(#fdcc52, #fdc539);
  color: $grey-contactme-light-text;
  padding-bottom: 25px;
  padding-top: 25px
}

.contactme p {
  color: $body__text--darker;
}

.contactme label {
  font-size: 0.8125rem;
  padding-left: 13px
}

.contactme .btn-primary {
  background-color: $contactme-button-background-blue;
  border-color: $contactme-button-background-blue;
  color: $dark-button-text;
}
