
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.contactme {
  background: $grey-7;
  grid-column: 1;
  grid-row: 6;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.contactme h2 {
  color: $white;
}

.contactme p {
  color: $white;
  padding-left: 0.6em;
  padding-right: 0.6em;
  text-align: left;
}

.contactme label {
  color: $white;
  font-size: 0.8125rem;
  padding-left: 1em;
}

.contactme .btn-primary {
  background-color: transparent;
  border-color: $primary-gold;
  color: $dark-button-text;
}

.contactme form {
  border-color: $primary-gold;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
  text-align: left;
}

form {
  max-width: 400px;
}
