.global-footer {
  line-height: 20px;
  text-align: center;
  grid-column: 1;
  grid-row: 7;
}

.footer-site-map {
  font-size: 0.9375rem;
}

.footer-site-map a {
  font-weight: $font-weight-bold
}

.social-sharing-icon.white {
  fill: $social-sharing-icon;
}

.social-sharing-icon.white :hover {
  fill: $social-sharing-icon-hover;
}

.social-sharing-icon {
  margin-left: 10px;
  vertical-align: middle
}