.hero-shot {
  color: $hero-shot-text;
  background: linear-gradient(to left, #3b4874, rgba(220,36,48,0.8)),url(#{$imagedir}IMG_6447.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300%;
  background-position-y: 0, -108px;
}

.hero-shot a {
  color: $hero-shot-link-gold;
}

.hero-shot a:hover {
  color: $hero-shot-link-hover-gold
}