.hero-shot {
  background: linear-gradient(to left, #{$primary-gradient}),url(#{$imagedir}IMG_6447.jpg);
  background-position: top center;
  background-position-y: 0, -108px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $hero-shot-text;
  height: 300%;
}

.heading--hero-shot {
  color: $heading--hero-shot;
  font-weight: $font-weight-extra-bold;
}

.hero-shot__img--circle {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: $circle__border--hero-shot;
  margin:0 auto
}

.hero-shot a {
  color: $hero-shot-link-gold;
}

.hero-shot a:hover {
  color: $hero-shot-link-hover-gold
}
