.recomendations {
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }
}

.testimonial__title {
  font-weight: $font-weight-bold;
  font-size: 1.3rem;
}