.skills {
  background-color: $primary-blue-darker;
  grid-column: 1;
  grid-row: 4;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }

  &-list {
    list-style: none;
    max-width: 560px;
    margin: 0 auto;
    padding-left: 0;
    text-align: left;
  }

  &-list-item {
    margin-bottom: 7px;
  }

  &-label {
    font-weight: $font-weight-extra-bold;
  }
}
