.work__projectimgdiv__imgdiv img {
  width: 100%
}

.work__projectdiv__description {
  padding: 0 5%
}

.work__projectdiv__languagebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.label_language {
  background: #813a59;
  color: #fff;
  padding: 3px 10px;
  margin: 0 5px
}

.work__projectdiv h3 {
  color: #727272;
  margin: 5% 0;
  text-align: center
}

.work__projectdiv p {
  margin-bottom: 5%;
  text-align: center
}

.view_live_div {
  margin-top: 15px
}

.view_live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 50%
}