.work__projectimgdiv__imgdiv img {
  width: 100%
}

.work__projectdiv__description {
  padding: 0 5%
}

.work__projectdiv__languagebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.label_language {
  background: $label-language-background;
  color: $label-language__text;
  margin: 5px;
  padding: 3px 10px
}

.work__projectdiv h3 {
  margin: 5% 0;
}

.work__projectdiv p {
  margin-bottom: 5%;
}

.view_live_div {
  margin-top: 15px
}

.view_live {
  margin: 0 auto;
  padding: 6px 50px;
  text-align: center;
}
