@use '../0-tools/vars' as *;

.specialties {
  background-color: $white;
  clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 9em;

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }
}

.specialty__box h3 {
  font-size: 1.93rem;
  line-height: 31px;
}

.specialty__title {
  font-weight: $font-weight-bold;
  font-size: 1.16rem;
  line-height: 1.10;
}

@media screen and (min-width: 900px) {
  .specialties {
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }

  .specialties__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  margin: 0 auto;
}

  .specialties__content {
    grid-column: 1/ span 12;
  }

  .specialties__specialtydiv {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 3/12;
    margin-bottom: 1.5em;
  }

  .specialty__box {
    padding-left: 25px;
    padding-right: 25px;
  }

  .specialty__paragraph {
    font-size: 0.899em;
  }

  .specialty__title {
    font-size: 1.01rem;
  }

  .space-top--specialties {
    padding-top: 9em;
  }

}
