html, body {
  overflow-x: hidden; }

.text-center {
  text-align: center; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242c47;
  display: grid;
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  grid-template: repeat(8, auto)/1fr;
  line-height: 27.97px;
  width: 100%; }

p {
  margin-bottom: 0.85em; }

h1, h2, h3, h4 {
  font-family: "Poppins", Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 0; }

h1 {
  color: #242c47;
  font-family: "Roboto slab", Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: normal; }

h2 {
  color: #242c47;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: -1.9px;
  line-height: 1.0; }

h3 {
  color: #242c47;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 28.5px; }

h4 {
  font-size: 1.1875rem;
  line-height: 25.5px; }

@media screen and (min-width: 360px) {
  h1 {
    font-size: 1.6rem; }
  h2 {
    font-size: 2.5rem; } }

@media screen and (min-width: 410px) {
  h1 {
    font-size: 1.7rem; } }

@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    margin-top: 0.4em; }
  h2 {
    font-size: 2.7rem; }
  h3 {
    font-size: 1.7rem; } }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.9rem;
    letter-spacing: -2px; }
  h2 {
    font-size: 3.0375rem; }
  h3 {
    font-size: 2.2175rem;
    line-height: 31px; }
  h4 {
    font-size: 1.1875rem;
    letter-spacing: -0.5px;
    line-height: 28.5px; } }

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -2px; }
  h2 {
    font-size: 3.0375rem; } }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.close-heading {
  margin-bottom: 3px !important; }

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

a {
  color: #3b4874;
  outline: 0 !important;
  text-decoration: none;
  transition: color 0.15s; }

a:hover,
a:focus {
  color: #999; }

.btn {
  font-weight: 600; }

.btn-primary {
  background-color: #fdcc52;
  border-color: #fdcc52;
  border-radius: 23px;
  color: #222;
  margin: 0 auto;
  padding: 0.5em 2em;
  text-align: center; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #9D394B;
  border-color: #9D394B; }

.btn-group-lg > .btn, .btn-lg {
  font-size: 1.25rem; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0, 1.49); }

img[data-src] {
  opacity: 0; }

.hero-shot {
  background: linear-gradient(to left, #3b4874, rgba(215, 27, 39, 0.8)), url(/assets/img/IMG_6447.webp);
  background-position: top center;
  background-position-y: 0, -108px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
  padding-left: 1em;
  padding-right: 1em; }

.hero-shot__container {
  max-width: 900px; }

.heading--hero-shot {
  color: #fff;
  font-weight: 800; }

.hero-shot__img--circle {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #242c47; }

.hero-shot a {
  color: #fdcc52; }

.hero-shot a:hover,
.hero-shot a:focus {
  color: #fcbd20; }

@media screen and (min-width: 768px) {
  .hero-shot__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    margin: 0 auto; }
  .hero-shot__content {
    grid-column: 1/9; }
  .hero-shot__img--circle {
    grid-column: 9/ span 4; } }

.about {
  background-color: #fff;
  text-align: center;
  display: grid;
  grid-column: 1;
  grid-row-start: 2;
  padding-left: 1em;
  padding-right: 1em; }
  .about .about__content {
    max-width: 900px;
    margin: 0 auto; }

.work {
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  grid-column-start: 1/ span 12;
  grid-row-start: 3; }
  .work__container {
    max-width: 900px; }
  .work__content {
    text-align: center; }

.work__projectimgdiv__imgdiv img {
  width: 100%;
  max-width: 350px; }

.work__projectdiv__description {
  padding: 0 5%; }

.work__projectdiv__languagebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.label_language {
  background: #9D394B;
  color: #fff;
  margin: 5px;
  padding: 3px 10px; }

.work__projectdiv h3 {
  margin: 5% 0; }

.view_live_div {
  margin-top: 2em;
  margin-bottom: 2em; }

.view_live:hover,
.view_live:focus {
  color: #fff; }

@media screen and (min-width: 900px) {
  .work__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    margin: 0 auto; }
  .work__content {
    grid-column: 1/ span 12; }
  .work__projectdiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/12;
    margin-bottom: 1.5em; }
  .work__projectimgdiv__imgdiv {
    grid-column-start: 1; } }

.skills {
  grid-column: 1;
  grid-row: 4;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }
  .skills__container {
    max-width: 900px;
    margin: 0 auto; }
  .skills-list {
    list-style: none;
    padding-left: 0; }
  .skills-label {
    font-weight: 600; }

.recomendations {
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em; }
  .recomendations__container {
    max-width: 900px;
    margin: 0 auto; }

.testimonial__title {
  font-weight: 700;
  font-size: 1.3rem; }

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.contactme {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
  grid-column: 1;
  grid-row: 6;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }

.contactme p {
  color: #242c47; }

.contactme label {
  font-size: 0.8125rem;
  padding-left: 1em; }

.contactme .btn-primary {
  background-color: #3b4874;
  border-color: #3b4874;
  color: #fff; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.form-group {
  text-align: left; }

form {
  max-width: 400px; }

.global-footer {
  line-height: 20px;
  text-align: center;
  grid-column: 1;
  grid-row: 7; }

.footer-site-map {
  font-size: 0.9375rem; }

.footer-site-map a {
  font-weight: 700; }

.social-sharing-icon.white {
  fill: #9D394B; }

.social-sharing-icon.white :hover,
.social-sharing-icon.white :focus {
  fill: #3b4874; }

.social-sharing-icon {
  margin-left: 10px;
  vertical-align: middle; }

.space-top {
  padding-top: 1.5em; }

.space-top.double {
  padding-top: 3em; }

.space-bottom {
  padding-bottom: 1.5em; }

.space-bottom.double {
  padding-bottom: 3em; }

