<!-- Preconnects -->
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">

<!-- Google Tag Manager (with Consent Mode defaults) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }

  // Consent defaults before GTM loads
  gtag('consent', 'default', {
    ad_storage: 'denied',
    analytics_storage: 'granted',
    functionality_storage: 'granted'
  });

  // Load GTM container
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '{{ site.google-tag_key }}');
</script>
<!-- End Google Tag Manager -->